[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==0.4.1"
numpy = "==1.15.0"
torchtext = "*"
adabound = "*"
pytest = "*"

[dev-packages]
"flake8" = "==3.5.0"
bumpversion = "==0.5.3"
pytest = "==3.7.1"
pytest-xdist = "==1.22.5"
polyglot = "*"
gensim = "*"
